.side {
    background-image: url("../../../../../assets/side.png");
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 100vh;
    max-height: 100%;
    width: auto;
}
.border-right{
    border-image: url("../../../../../assets/side.png") 30 round;
    border-right: 5px black solid;
    min-height: 100vh;
    max-height: 100%;
}
.div-progressbar{
    border-right: 5px rgb(15, 15, 46) solid;
}
.card, video, .card-body{
    border-radius: 10px;
}
.w-3{
    width: 3%;
}
.bg-vista{
    background-color: rgb(51,78,113);
}
.actual{
    outline: rgb(51,78,113) 2px solid;
    border: white 4px solid;
    border-radius: 20px;
}
textarea{
    resize: none;
    width: 100%;
    height: 100px;
}
button{
    color: white;
    border-radius: 100px;
    font-size: 0px;
    height: 30px;
    width: 30px;
}

button:disabled{
    background-color:rgb(221, 221, 221); 
    opacity:inherit;
}
#progress-bar{
    background: linear-gradient(rgb(51,78,113),rgb(51,78,113));
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position: 0 center;
}
