<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 d-none d-md-block side">
        </div>
        <div class="col-10 ">
            <div class="row">
                <div class="col-md-8 border-right">
                    <div class="row mb-5">
                        <div class="col-12 px-5 mt-md-5">
                            <h1>{{curso.nombrecurso}}</h1>
                            <div class="row px-5">
                                <div class="col-md col-12" *ngFor="let modulo of curso.modulos; let i = index" [attr.data-index]="i">
                                    <div  class="row ">
                                        <div  *ngFor="let clase of modulo.clases; let i2 = index" [attr.data-index]="i2" class="col mb-3 centrado">
                                            <div id="progress-bar" *ngIf="((i+1)*(i+1)+i2) < curso.modulos.length * modulo.clases.length">
                                                <button *ngIf="modulo_progreso.id < modulo.id|| (modulo_progreso.id == modulo.id && 
                                                    clase.idclase > clase_progreso.idclase) " 
                                                    type="button" class="btn btn-lg " disabled></button>
                                                <button *ngIf="modulo_progreso.id > modulo.id && clase_actual.idclase != clase.idclase || 
                                                    (modulo_progreso.id == modulo.id && clase.idclase <= clase_progreso.idclase && clase_actual.idclase != clase.idclase) " 
                                                    type="button" (click)="cambiar_clase(clase)" class="btn btn-lg bg-vista " ></button>
                                                <button *ngIf="clase_actual.idclase == clase.idclase" 
                                                        type="button" class="btn btn-lg bg-vista actual" ></button>
                                            </div>  
                                            <div *ngIf="((i+1)*(i+1)+i2) == curso.modulos.length * modulo.clases.length">
                                                <button *ngIf="modulo_progreso.id < modulo.id|| (modulo_progreso.id == modulo.id && 
                                                    clase.idclase > clase_progreso.idclase) " 
                                                    type="button" class="btn btn-lg " disabled></button>
                                                <button *ngIf="modulo_progreso.id > modulo.id && clase_actual.idclase != clase.idclase || 
                                                    (modulo_progreso.id == modulo.id && clase.idclase <= clase_progreso.idclase && clase_actual.idclase != clase.idclase) " 
                                                    type="button" (click)="cambiar_clase(clase)" class="btn btn-lg bg-vista " ></button>
                                                <button *ngIf="clase_actual.idclase == clase.idclase" 
                                                        type="button" class="btn btn-lg bg-vista actual" ></button>
                                            </div>                               
                                        </div>
                                        <div class="col-12 centrado div-progressbar" *ngIf="i < curso.modulos.length -1 ">
                                            <h5>MODULO {{modulo.id}}: {{modulo.nombre}}</h5>
                                        </div>
                                        <div class="col-12 centrado" *ngIf="i == curso.modulos.length -1 ">
                                            <h5>MODULO {{modulo.id}}: {{modulo.nombre}}</h5>
                                        </div>
                                    </div>
                                </div>      
                                <app-clase class="col-12" [clase_actual]=clase_actual (checkvid)='checkvid($event)'></app-clase>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2>Cursos Relacionados</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="col-12">
                        <textarea placeholder="Escribe un comentario"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 d-none d-sm-block side">
        </div>
    </div>
</div>
