<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 d-none d-md-block side"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4 border-right">

                </div>
                <div class="col-md-8 mt-5 overflow-auto lista">
                    <div class="row centrado overflow-auto">
                        <div type="button" [routerLink]="['oferta']" (click)="verOferta(oferta)" class="col-10 mb-5 " *ngFor="let oferta of ofertas">
                            <div class="card oferta px-3 ">
                                <h2 class="card-title mx-1">{{oferta.cargo}}</h2>
                                <div class="card-subtitle">
                                    <h5>{{oferta.empresa.nombreempresa}} | {{oferta.ubicacion}}</h5>
                                </div>
                                <div class="card-text">
                                    <h5 *ngIf ="selector == 0">Hace {{getTime(oferta.fechapublicacion)}} segundos</h5>
                                    <h5 *ngIf ="selector == 1">Hace {{getTime(oferta.fechapublicacion)}} minutos</h5>
                                    <h5 *ngIf ="selector == 2">Hace {{getTime(oferta.fechapublicacion)}} horas</h5>
                                    <h5 *ngIf ="selector == 3">Hace {{getTime(oferta.fechapublicacion)}} dias</h5>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-1 d-none d-md-block side"></div>
    </div>
</div>