h1{
    margin-top: 50px;
    font-size: xx-large;
}
ul{
    max-width: 100%;
    list-style: none;
}
li{
    max-width: 100%;
    margin-bottom: 20px;
}
label{
    font-size: 20px;
    margin-left: 5%;
}
button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
}