.material-icons-outlined{
    font-size: 75px;
}
.publicar{
    display: flex;   
    flex-wrap: wrap;
    position: absolute;
    top: -10px;
}
.green{
    color: green;
    position: absolute;
    font-size: 45px;
    top: 10px;
}