.border-right{
    border-image: url("../../../assets/side.png") 30 round;
    border-right: 5px black solid;
    min-height: 100vh;
    max-height: 100%;
}
.btn-img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
.material-icons-outlined{
    font-size: 100px;
}
button{
    color: white;
}