<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-1  d-none d-md-block side">
        </div>
        <div class="col-md-7 border-right">
            <div class="row">
                <!-- Seccion donde se muestran los cursos activos.-->
                <div class="col-12 mt-5 ">
                    <h2>Continua con tus Cursos</h2>
                    <div class="row ">
                        <div *ngFor="let item of cursos; index as i " class="col-lg-6 mb-2  ">
                            <div class="card w-100" *ngIf="i <= 1">
                                <button class="btn-img" (click)="traspaso(item.clavecurso)" [routerLink]="['/micurso', item.clavecurso]"><span class="material-icons-outlined"> play_arrow </span></button>
                                <img class="card-img-top" src="../../../assets/cursos/curso.jpg" alt="Card image cap">
                                <div class="card-body bg-card">
                                  <h5 class="card-title">{{item.clavecurso}} - {{item.nombrecurso}}</h5>
                                  <p class="card-text">{{item.descripcion}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-4 centrado">
                            <button  class="btn-lg bg-darkblue"> Ver mas Cursos</button>                  
                        </div>
                    </div>
                </div>
                <!-- Seccion donde se muestran las ofertas laborales destacadas.-->
                <div class="col-12">
                    <h2>Ofertas laborales destacadas</h2>
                    <div class="row">
                        <div class="col-12">
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row ">
                <!-- Seccion de informaciones.-->
                <div class="col-12 mt-5 mb-2">
                    
                </div>
                <div class="col-12 mb-2">

                </div>
                <div class="col-12 mb-2">

                </div>
                <div class="col-12 mb-2">

                </div>

            </div>
        </div>
        <div class="col-1 d-none d-md-block side">
        </div>
    </div>
</div>