#gray{
    background-color: rgba(128, 128, 128, 0.651);
    background-size: cover;
}
.material-icons-outlined{
    font-size: xx-large;
}
button{
    background: inherit;
    border: inherit;
}
#certificado{
    background-color: white;
}
.border-top{
    border-top: 1px rgb(10, 10, 39) solid;
    align-content:flex-end;
}