<app-headeremp></app-headeremp>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 side d-none d-md-flex"></div>
        <div class="col-md-10 border-right">
            <div class="row centrado m-5 ">
                <div class="col-md-8 col-12">
                    <div class="row centrado">
                        <div class="col-12  card oferta " >
                            <div class="card-body">
                                <h2 class="card-title">{{oferta.cargo}}</h2>
                                <h3 class="card-subtitle mb-2 text-muted">Descripcion del empleo</h3>
                                <h3 class="card-subtitle mb-2 text-muted">{{oferta.descripcion}}</h3>
                                <div class="card-text">
                                    <p>{{oferta.empresa.nombreempresa}} | {{oferta.ubicacion}}</p>
                                    <h5 *ngIf ="selector == 0">Hace {{tiempo}} segundos</h5>
                                    <h5 *ngIf ="selector == 1">Hace {{tiempo}} minutos</h5>
                                    <h5 *ngIf ="selector == 2">Hace {{tiempo}} horas</h5>
                                    <h5 *ngIf ="selector == 3">Hace {{tiempo}} dias</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 centrado mt-3 ">
                    <button type="button" class="btn btn-lg bg-darkblue ">Editar</button>
                </div>
            </div>  
            <div class="row">
                <div class="col-12">
                    <h1 class="centrado">Postulantes</h1>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">RUT</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">APELLIDOS</th>
                            <th scope="col">PAIS</th>
                            <th scope="col">CIUDAD</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">EMAIL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let postulante of postulantes">
                            <td scope="row">{{postulante.rut}}</td>
                            <td>{{postulante.nombres}}</td>
                            <td>{{postulante.apellidos}}</td>
                            <td>{{postulante.pais}}</td>
                            <td>{{postulante.ciudad}}</td>
                            <td>{{postulante.telefono}}</td>
                            <td>{{postulante.email}}</td>
                          </tr>

                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col-1 side d-none d-md-flex"></div>
    </div>
</div>