<div class="container-fluid">
  <div class="row">
    <div id="side" class="col-lg-4 col-12">

    </div> 
    <div class="col-lg-8 col-12">
      <form class="row"> 
        <div class="col-12 my-5 centrado">
          <h1>Registrarse</h1>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 ms-5 control-label" for="Nombres">Nombres</label>  
            <div class="col-12">
              <input id="Nombres" name="Nombres" type="text" placeholder="Nombres" class="form-control-lg w-100" >
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="Apellidos">Apellidos</label>  
            <div class="col-12">
              <input id="Apellidos" name="Apellidos" type="text" placeholder="Apellidos" class="form-control-lg w-100" > 
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="email">Email</label>  
            <div class="col-12">
              <input id="Email" name="Email" type="text" placeholder="Email" class="form-control-lg w-100" >
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="pais">País</label>
            <div class="col-12" >
              <select class="form-control-lg" name="pais" id="pais">
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
              </select>
            </div>
          </div>  
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="contrasena">Contraseña</label>  
            <div class="col-12">
              <input id="contrasena" name="contrasena" type="password" class="form-control-lg w-100" placeholder="Contraseña *" >
            </div>
        </div>
        </div>
        
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="city">Ciudad</label>  
            <div class="col-12">
              <input id="city" name="city" type="text" placeholder="Ciudad" class="form-control-lg w-100"> 
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="cmpny">Documento</label>  
            <div class="col-12">
              <input id="docu" name="docu" type="text" placeholder="Documento" class="form-control-lg w-100" >
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="Telefono">Telefono</label>  
            <div class="col-12">
              <input id="Telefono" name="Telefono" type="text" placeholder="Telefono" class="form-control-lg w-100" >
            </div>
          </div>
        </div>
        <legend class="col-12 mt-3"></legend>
        <div class="col-12 my-5 right">
          <button id="submit" name="submit" class="btn btn-lg bg-darkblue w-25 gh">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
