#side {
    background-image: url("https://images.squarespace-cdn.com/content/v1/577ba8c9f5e231f12b5e2341/1496527241250-VJRAZLD671X2E0014FD1/No+Noise.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    max-width: 100vw;
}

button{
    color: white;
    font-size: x-large;
    border-radius: 10px;
}
input{
    border-radius: 10px;
    border-color: rgba(83, 83, 83, 0.329);
    height: 50px;
    font-size: large;
}
select{
    border-radius: 10px;
    border-color: rgba(83, 83, 83, 0.329);
    height: 50px;
    font-size: large;
}

.control-label{
    margin-inline-start: 10px;
}

#telcode{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#telefono{
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}