<div class="container-fluid">
  <div class="row">
    <div id="side" class="col-lg-4 col-12">

    </div> 
    <div id="exito" class="col-lg-8 col-12">
      <div class="col-12 mensaje">
        <h1 class="w-75">
          Tu registro ha sido exitoso, en unos segundos te redireccionaremos hacia el inicio de sesión.
        </h1>
      </div>
    </div>
    <div class="col-lg-8 col-12">
      <form [formGroup]="formulario" id="formulario" class="row" (ngSubmit)="registrarse()" novalidate > 
        <div class="col-12 my-5 centrado">
          <h1>Registrarse</h1>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 ms-5 control-label" for="nombres">Nombres</label>  
            <div class="col-12">
              <input id="Nombres" formControlName="nombres" type="text" placeholder="Nombres" class="form-control-lg w-100" >
              <div *ngIf="formulario.controls['nombres'].invalid && (formulario.controls['nombres'].dirty || formulario.controls['nombres'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['nombres'].hasError('required')">
                    <p>Debe ingresar su nombre completo.</p>
                </div>
                <div *ngIf="formulario.controls['nombres'].hasError('pattern')">
                    <p>El nombre no debe contener numeros.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="apellidos">Apellidos</label>  
            <div class="col-12">
              <input id="Apellidos" formControlName="apellidos" type="text" placeholder="Apellidos" class="form-control-lg w-100" > 
              <div *ngIf="formulario.controls['apellidos'].invalid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['apellidos'].hasError('required')">
                    <p>Debe ingresar sus apellidos.</p>
                </div>
                <div *ngIf="formulario.controls['apellidos'].hasError('pattern')">
                    <p>Los apellidos no deben contener numeros.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="email">Email</label>  
            <div class="col-12">
              <input id="Email" formControlName="email" type="text" placeholder="Email" class="form-control-lg w-100" >
              <div *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['email'].hasError('required')">
                    <p>Debe ingresar su Email.</p>
                </div>
                <div *ngIf="formulario.controls['email'].hasError('email')">
                    <p>El formato del email es incorrecto.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="pais">País</label>
            <div class="col-12" >
              <select class=" form-select form-select-lg w-100" formControlName="pais" id="pais">
                <option *ngFor="let country of countries" [value]="[country.name_es, country.dial_code]">{{country.name_es}}</option>
              </select>
              <div *ngIf="formulario.controls['pais'].invalid && (formulario.controls['pais'].dirty || formulario.controls['pais'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['pais'].hasError('required')">
                    <p>Debe seleccionar el pais en el cual reside.</p>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="contrasena">Contraseña</label>  
            <div class="col-12">
              <input id="contrasena" formControlName="contrasena" type="password" class="form-control-lg w-100" placeholder="Contraseña *" >
              <div *ngIf="formulario.controls['contrasena'].invalid && (formulario.controls['contrasena'].dirty || formulario.controls['contrasena'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['contrasena'].hasError('required')">
                    <p>Debe ingresar una contraseña de al menos 6 caracteres.</p>
                </div>
                <div *ngIf="formulario.controls['contrasena'].hasError('minlength')">
                  <p>La contraseña debe tener al menos 6 caracteres.</p>
              </div>
              </div>
            </div>
        </div>
        </div>
        
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="city">Ciudad</label>  
            <div class="col-12">
              <input id="city" formControlName="city" type="text" placeholder="Ciudad" class="form-control-lg w-100"> 
              <div *ngIf="formulario.controls['city'].invalid && (formulario.controls['city'].dirty || formulario.controls['city'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['city'].hasError('required')">
                    <p>Debe ingresar la ciudad en la que reside.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="docu">Documento</label>  
            <div class="col-12">
              <input id="docu" formControlName="docu" type="text" placeholder="Documento" class="form-control-lg w-100" >
              <div *ngIf="formulario.controls['docu'].invalid && (formulario.controls['docu'].dirty || formulario.controls['docu'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['docu'].hasError('required')">
                    <p>Debe ingresar su numero de documento</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
          <div class="form-group">
            <label class="col-12 control-label" for="telefono">Telefono</label>  
            <div class="col-12">
              <div class="input-group">
                <div class="w-25">
                  <input type="text" id="telcode" readonly>
                </div>
                <input id="telefono" formControlName="telefono" type="text" placeholder="Telefono" class="form-control-lg w-75" >
                <div *ngIf="formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched)" class="alert alert-danger">
                  <div *ngIf="formulario.controls['telefono'].hasError('required')">
                      <p>Debe ingresar su numero de telefono.</p>
                  </div>
                  <div *ngIf="formulario.controls['telefono'].hasError('pattern') || formulario.controls['telefono'].hasError('minlength')">
                    <p>Debe ingresar un numero de telefono válido.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 "><legend id="borde"></legend></div>
        <div class="col-12 my-5  right">
          <button id="submit" [disabled]="formulario.invalid" type="submit" class="btn btn-lg bg-darkblue w-25 gh">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
