<nav class="navbar navbar-expand-sm navbar-dark bg-light-gray ">
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse centrado">
    <ul class="navbar-nav ">
      <li class="nav-item mx-3 mt-1" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']"> 
        <a class="nav-link px-4" [routerLink]="'../'" (click)="isMenuCollapsed = true">Mis Cursos</a>
      </li>
      <li class="nav-item mx-3 mt-1" [routerLinkActive]="['active']">
        <a class="nav-link px-4" [routerLink]="'crearcurso'" (click)="isMenuCollapsed = true">Crear Curso</a>
      </li>
    </ul>
  </div>  
</nav>