<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-7">
            <img src="https://previews.123rf.com/images/nigelspiers/nigelspiers1308/nigelspiers130800001/21754579-una-vista-panor%C3%A1mica-vertical-de-la-ic%C3%B3nica-torre-eiffel-y-los-jardines-en-un-d%C3%ADa-caluroso-de-verano.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-md-5">
            <form [formGroup]="formulario" novalidate>
                <div class="row">
                    <div class="col-12 mb-5">
                        <h2>Inicio de Sesion</h2>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="row mb-4">
                            <div class="col-12">
                                <label for="email">Email </label>
                            </div>
                            <div class="col-12 ">
                                <input class="form-control-lg" id="email" type="email" >  
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <label for="email">Contraseña </label>
                            </div>
                            <div class="col-12">
                                <input class="form-control-lg" id="password" type="password" >  
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-4">
                                <label for="email">Recordar Contraseña: </label>
                            </div>
                            <div class="col-8">
                                <input class="form-check-input form-control-lg" id="password" type="checkbox" >  
                            </div>
                        </div>
  
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>