input{
    border-radius: 10px;
    border-color: rgba(83, 83, 83, 0.329);
    height: 45px;
    font-size: large;
}
label{
    margin-inline-start: 20px;
}
button{
    border-radius: 10px;
    color: white;
    font-size: large;
    min-height: 50px;
    max-height: auto;
}
h2{
    font-size: xx-large;
}
a,a:checked,a:link,a:visited{
  text-decoration: none;
  color: rgba(128, 128, 128, 0.651);
}
a:hover{
    text-decoration: none;
    color: black;
}
#side {
    background-image: url("https://images.squarespace-cdn.com/content/v1/577ba8c9f5e231f12b5e2341/1496527241250-VJRAZLD671X2E0014FD1/No+Noise.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 100vh;
    max-height: 100%;
    width: auto;
}
#o{
    margin-inline-start: 20px;
}
#rem{
    width: 15px;
    height: 15px;
    top: -1px;
}

img{
    width:80%;
}


