input{
    border-radius: 10px;
    border-color: rgba(83, 83, 83, 0.603);
}
button{
    border-radius: 10px;
    color: white;
}
h2{
    font-size: xx-large;
}
a,a:hover,a:checked,a:link,a:visited{
  text-decoration: none;
}
a:hover{
    color: black;
}

#rem{
    width: 15px;
    height: 15px;
    top: -1px;
}

.trans{
    color: rgba(128, 128, 128, 0.651);
}

.darkblue{
    color:rgb(26, 29, 39);
}
.bg-darkblue{
    background-color: rgb(26, 29, 39);
}
