<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 side"></div>
        <div class="col-10">
            <h1 class="m-5"> Contenido de Este Curso </h1>
            <div class="row centrado ">
                <div *ngFor="let item of clases" class="col-10 mb-5 bg-gray">
                    <div class="row">
                        <img class="col-md-4 p-4" src="../../../assets/cursos/curso.jpg" alt="Card image cap">
                        <div class="col-md-8 mt-md-5" >
                            <h3> {{item.nombremodulo}} - {{item.nombreclase}} </h3>
                            <p> {{item.descripcionclase}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 mb-2 centrado">
                    <button type="button" [routerLink]="'/cursos'" class="btn bg-darkblue btn-lg">Buscar Otro curso</button>
                </div>
                <div class="col-lg-6 mb-2 centrado">
                    <button type="button" class="btn bg-darkblue btn-lg">Comenzar este curso</button>
                </div>
            </div>
        </div>
        <div class="col-1 side"></div>
    </div>
</div>