.nav-item{
    list-style:none;
}
.navbar-brand{
    color: white; 
}
.nav-item{
    color: white; 
    display: flex;
    align-items: center;
}
.btn btn-outline-success{
    height: 20px;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.container-right{
    width:700px;
}
.container-left{
    width:170px;
}
.form-control{
    width: 220px;
}
.navbar-toggler{
    border-color: white;
}
.texto{
    color:white;
    font-size: 34px;
    margin-right: 20px;
    
}
.navbar-nav me-auto{
    display: flex;
    align-content: flex-end;
}
.parrafo{
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 36px;
}
.usuario{
    display: flex;
}