.header{
    background-color: rgba(49, 63, 79, 1); 
}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(49, 63, 79, 1);
    align-content: center;
    height: 50px;
}
.boton{
    background-color: rgba(49, 63, 79, 1);
    list-style:none;
    margin-right: 20px;
}
.nombre-boton{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.form-control{
    background-color: rgba(49, 63, 79, 1);
    height: 30px;
    color:white;
    border-color: white;
    display:flex;
    align-content: center;
    width:240px;
}
.input-group-text{
    height: 30px;
}
.resto{
    display: flex;
    width: 65%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.inicio{
    display: flex;
    width: 20%;
    display:flex;
    align-items: center;
   
}
.grupo{
    display: flex;
    flex-direction: row;
}
.material-icons{
    font-size: 30px;
}
.input-group-text{
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.texto{
    color:white;
    font-size: 28px;
    margin-right: 20px;
    align-self: flex-start;
}