<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-12 d-none d-md-block side"></div>
        <div class="col-lg-3 col-12 ">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="col-12">
                        <label class="mb-4">Filtrar por:</label>
                        <div >
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text material-icons-outlined"> search </span>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cursos-content" class="col-lg-7 col-12 mt-4 px-5 w-100 separador">
            <div class="row">
                <div class="col-12">
                    <h1>Cursos Disponibles</h1>
                </div>
                <div *ngFor="let item of cursos" class="col-lg-6 col-12 centrado">
                    <div class="card w-100 " style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/cursos/curso.jpg" alt="Card image cap">
                        <button class="btn-img" (click)="traspaso(item.clavecurso)" [routerLink]="['/curso']"><span class="material-icons-outlined"> play_arrow </span></button>
                        <div class="card-body bg-card">
                            <h3 class="card-title">{{item.clavecurso}} - {{item.nombrecurso}} </h3>
                            <p class="card-text">{{item.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-12 d-none d-md-block side"></div>
    </div> 
</div>